
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>There was an error with your request. Please double check your token or click
    <a href="https://ink.dev/login">HERE</a> to try again.
</h2>